<div class="registro-container">
  <h2>¡Hola, bienvenido! 👋</h2>
  <p class="subtitulo">Si quieres evitar llenar tus datos para el envío en cada compra, ¡es mejor que te registres!</p>

  <form [formGroup]="registroForm" (ngSubmit)="registrarUsuario()" class="registro-form">
    
    <div class="form-group">
      <label>Nombre Completo</label>
      <input type="text" formControlName="nombreCompleto" placeholder="Tu nombre y apellido">
    </div>

    <div class="form-group">
      <label>Correo Electrónico</label>
      <input type="email" formControlName="correo" placeholder="tu_correo@ejemplo.com">
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" formControlName="password" placeholder="Mínimo 6 caracteres">
    </div>

    <div class="form-group">
      <label>Teléfono (WhatsApp)</label>
      <input type="tel" formControlName="telefono" placeholder="Tu número a 10 dígitos">
    </div>

    <div class="form-group">
      <label>Dirección de Envío</label>
      <textarea formControlName="direccionDefecto" placeholder="Tu calle, número, colonia, etc." rows="3"></textarea>
    </div>

    <button type="submit" class="btn-registrar" [disabled]="!registroForm.valid">
      Crear mi Cuenta
    </button>
  </form>

  <p class="link-login">
    ¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a>
  </p>
</div>